<div class="card shadow p-3 mb-5 bg-body rounded">
  <div class="card-header">
    <h1>Type Redevable</h1>
  </div>
  <div class="row">
    <div class="col-4 form-group">
      <label>Code</label>
      <input type="Text" class="form-control" name="code" [(ngModel)]="type().code">
    </div>
    <div class="col-3 form-group">
      <label>libelle</label>
      <input type="number" class="form-control" name="libelle" [(ngModel)]="type().libelle">
    </div>
    <div class="col-2">
      <button class="btn" id="btn1" (click)="save()">SAVE</button>
    </div>
  </div>
</div>
