<div class="dash-cards">
  <div class="card-single">
    <div class="card-body">
      <span class="ti-briefcase"></span>
      <div>
        <h5>Locales</h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer">
      <a href="">View all</a>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti-reload"></span>
      <div>
        <h5>Redevables</h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer">
      <div class="test">
    <a>View all</a>
      </div>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti-check-box"></span>
      <div>
        <h5>Taxes</h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer">
      <a href="">View all</a>
    </div>
  </div>
</div>


<section class="recent">
  <div class="activity-grid">
    <div class="activity-card">
      <h3 class="h-3">Recent activity</h3>
      <div class="table-responsive">
        <table>
          <thead>
          <tr>
            <th>Locales</th>
            <th>Redevable</th>
            <th>Taxe Sejour</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
