<div class="card p-3 mb-5 bg-body">
  <div class="card-header">
    <h1>Redevable</h1>
  </div>
  <div class="row">
    <div class="col-4 form-group">
      <label>Ref</label>
      <input type="Text" class="form-control" name="code" [(ngModel)]="redevable().ref">
    </div>
    <div class="col-3 form-group">
      <label>Type</label>
      <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example" [(ngModel)]="redevable().type">
        <option selected>Selectioner un type</option>
        <option value="1">personne morale</option>
        <option value="2">personne physique</option>
      </select>
    </div>
    <div class="col-2">
      <button class="btn" id="btn1" (click)="save()">SAVE</button>
    </div>
  </div>
</div>
